WCFTestClient/WcfTestClientConsole/WcfTestClientConsole/Service References/GymWorkoutService/WorkoutService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WorkoutService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50688/Implementations/WorkoutService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50688/Implementations/WorkoutService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50688/Implementations/WorkoutService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWorkoutService_GetAllWorkout_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWorkout" />
  </wsdl:message>
  <wsdl:message name="IWorkoutService_GetAllWorkout_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWorkoutResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkoutService_GetWorkout_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkout" />
  </wsdl:message>
  <wsdl:message name="IWorkoutService_GetWorkout_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkoutResponse" />
  </wsdl:message>
  <wsdl:portType name="IWorkoutService">
    <wsdl:operation name="GetAllWorkout">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkoutService/GetAllWorkout" message="tns:IWorkoutService_GetAllWorkout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkoutService/GetAllWorkoutResponse" message="tns:IWorkoutService_GetAllWorkout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkout">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkoutService/GetWorkout" message="tns:IWorkoutService_GetWorkout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkoutService/GetWorkoutResponse" message="tns:IWorkoutService_GetWorkout_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWorkoutService" type="tns:IWorkoutService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllWorkout">
      <soap:operation soapAction="http://tempuri.org/IWorkoutService/GetAllWorkout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkout">
      <soap:operation soapAction="http://tempuri.org/IWorkoutService/GetWorkout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WorkoutService">
    <wsdl:port name="BasicHttpBinding_IWorkoutService" binding="tns:BasicHttpBinding_IWorkoutService">
      <soap:address location="http://localhost:50688/Implementations/WorkoutService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>