WCFTestClient/WcfTestClientConsole/WcfTestClientConsole/Service References/GymWorkoutService/WorkoutService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFlattenWorkout">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FlattenWorkout" nillable="true" type="tns:FlattenWorkout" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlattenWorkout" nillable="true" type="tns:ArrayOfFlattenWorkout" />
  <xs:complexType name="FlattenWorkout">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GoalDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UniqueIdentifier" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlattenWorkout" nillable="true" type="tns:FlattenWorkout" />
</xs:schema>